# Usernames
- Given a list of names: `['jack','lorn','amy','sabrina','sue','john','jack']`
- Turn into a list of user names. If names are repeated, append a number to the end of the name: `['jack','lorn','amy','sabrina','jack1','john','jack2']`
- Return list of usernames in same order as input

In [70]:
from collections import Counter
def users(names):
    usernames = []
    log = Counter()
    for v in names:
        if v not in log.keys():
            usernames.append(v)
            log[v] += 1
        else:
            usernames.append(v + str(log[v]))
            log[v] += 1
    return usernames, log

In [3]:
x = 'jack1'
str(int(x[-1]) + 1)

'2'

In [5]:
x[:-1]

'jack'

In [6]:
x[:-1] + str(int(x[-1]) + 1)

'jack2'

In [72]:
users(['jack','lorn','amy','sabrina','jack','john','jack','jack', 'amy', 'lorn'])

(['jack',
  'lorn',
  'amy',
  'sabrina',
  'jack1',
  'john',
  'jack2',
  'jack3',
  'amy1',
  'lorn1'],
 Counter({'amy': 2, 'jack': 4, 'john': 1, 'lorn': 2, 'sabrina': 1}))