# Trips and Distances

In each record is each person's distance from work, followed by how many one-way trips they made to/from work this week. Compute the total trips made and total distance traveled by all persons this week.

In [1]:
"""Test cases
[['John', 1600, 2,1,4,1,0], ['Bonnie', 300, 0,1,2,0,2], ['Vin', 900, 2,1,1,2,1]]
20
20600

[['May', 430, 3,1,2,1,2], ['Homer', 1300, 1,1,2,3,2], ['Nancy', 200, 2,0,0,2,1]]
"""

['Vin', 900, 2, 1, 1, 2, 1]

In [2]:
a = [2,1,4,1,0]
b = [0,1,2,0,2]
c = [2,1,1,2,1]

a = sum(a)
b = sum(b)
c = sum(c)

a,b,c

(8, 5, 7)

In [3]:
1600*8 + 300*5 + 900*7

20600

In [4]:
a + b + c

20

In [26]:
def trips_dist(arr):
    # add all trips
    # get each person's distance times their total trips
    t = []
    d = []
    for i in a:
        trips = sum(i[2:])
        i = i[:2]
        t.append(trips)
        dist = i[1]*trips
        d.append(dist)
    return sum(t), sum(d)

In [21]:
a = [['John', 1600, 2,1,4,1,0], ['Bonnie', 300, 0,1,2,0,2], ['Vin', 900, 2,1,1,2,1]]
t = []
d = []
for i in a:
    trips = sum(i[2:])
    print(trips)
    i = i[:2]
    t.append(trips)
    dist = i[1]*trips
    d.append(dist)
t, d

8
5
7

([8, 5, 7], [12800, 1500, 6300])

In [22]:
sum(t), sum(d)

(20, 20600)

In [15]:
a = [i for i in range(1,10)]
a, a[:2]

([1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2])

In [20]:
1600*8

12800

In [27]:
a = [['John', 1600, 2,1,4,1,0], ['Bonnie', 300, 0,1,2,0,2], ['Vin', 900, 2,1,1,2,1]]
print(trips_dist(a))

8
5
7
(20, 20600)